body {
  background-color: #f1f1f1 !important;
  font-size: 13px !important;
}

.wp-admin input[type="file"].form-control {
  padding: 0.375rem 0.75rem;
}

input[type="date"].form-control,
input[type="datetime-local"].form-control,
input[type="datetime"].form-control,
input[type="email"].form-control,
input[type="month"].form-control,
input[type="number"].form-control,
input[type="password"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="text"].form-control,
input[type="time"].form-control,
input[type="url"].form-control,
input[type="week"].form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: none;
}

input[type="color"].form-control,
input[type="date"].form-control,
input[type="datetime-local"].form-control,
input[type="datetime"].form-control,
input[type="email"].form-control,
input[type="month"].form-control,
input[type="number"].form-control,
input[type="password"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="text"].form-control,
input[type="time"].form-control,
input[type="url"].form-control,
input[type="week"].form-control,
select.form-control,
textarea.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: none;
}

.edit-post-layout .interface-interface-skeleton__content {
  margin-bottom: 25px;
}

.custom--guroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.custom--guroup .custom--label {
  width: 20%;
  margin-right: 1rem;
}

.custom--guroup .custom--input {
  display: block;
  width: 75%;
}

/* .wp-admin .edit-post-visual-editor__post-title-wrapper {

} */