/* === Bootstrap === */
// Typography
// $font-family-sans-serif: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$font-family-sans-serif: "Noto Sans JP", sans-serif;
// $font-size-default: 16px;
// $font-size-base: 0.875rem;
$line-height-base: 1.5;

// Color system
// $white: #fff;
// $gray-100: #f8f9fa;
// $gray-200: #ebebe8;
// $gray-300: #e0e0e0;
// $gray-400: #ced4da;
// $gray-500: #adb5bd;
// $gray-600: #7e7c7b;
// $gray-700: #4c4947;
// $gray-800: #3b3a39;
// $gray-900: #212529;
// $black: #000;

// $blue: #007bff;
// $indigo: #6610f2;
// $purple: #6f42c1;
// $pink: #e83e8c;
$red: #d20000;
// $orange: #dd644d;
$yellow: #ffc800;
// $green: #03b5aa;
// $teal: #20c997;
// $cyan: #17a2b8;

// Theme Color
$primary: $red;
// $secondary: $gray-600;
// $success: $green;
// $info: $gray-300;
$warning: $yellow;
// $danger: $red;
$light: #f5f5f5;
// $dark: $gray-700;

// Body
// $body-bg: #f4f3ef;
// $body-color: $gray-700;
