.breadcrumb {
  margin: 0;
  background-color: $white;
  padding-left: 0;
  padding-right: 0;
  &--wrap {
    position: relative;
    border-bottom: 1px solid $gray-100;
  }
  li {
    list-style: none;
    display: block;
    font-size: 12px;
    line-height: 1;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
}
