.btn {
  position: relative;
  box-shadow: 3px 3px 8px rgba($black, 0.3);

  svg {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
  }

  &:hover {
    box-shadow: none;
  }
}

.ankerlink {
  z-index: 1;
  position: relative;
  margin-bottom: -1rem;
  .btn {
    width: calc(100% / 6 - 1rem);
    padding: 0.875rem 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    line-height: 1;
    @include media-breakpoint-down(md) {
      width: calc(100% / 3 - 0.5rem);
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    span {
      display: block;
      font-weight: bold;
      font-size: 0.875rem;
      margin-bottom: 5px;
      @include media-breakpoint-down(md) {
        font-size: 12px;
        margin-bottom: -0.25rem;
      }
    }
    svg {
      position: static;
      top: auto;
      left: auto;
      transform: none;
    }

    &:nth-child(3n) {
      @include media-breakpoint-down(md) {
        margin-right: 0;
      }
    }
    &:nth-child(6n) {
      margin-right: 0;
    }
  }
}

.more-btn {
  margin-top: 1.5rem;
  a {
    text-decoration: underline;
    font-size: 0.875rem;
    color: $body-color;
  }
}

.btn-back {
  position: relative;
  display: inline-block;
  padding: 1.25rem 2rem;
  min-width: 240px;
  background-color: $body-color;
  border: 1px solid $body-color;
  color: $white;
  text-align: center;
  line-height: 1;
  font-size: 0.875rem;
  transition: all 0.3s;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%) rotate(-45deg);
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-top: 1px solid $white;
    border-left: 1px solid $white;
  }
  &:hover,
  &:active {
    background-color: $white;
    color: $body-color;
    text-decoration: none;
    &::before {
      border-color: $body-color;
    }
  }
}
