.cta {
  &__btns {
    .heading__h2 {
      font-size: 2rem;
      text-align: center;
      @include media-breakpoint-down(md) {
        font-size: 1.125rem;
      }
      &::before,
      &::after {
        display: inline-block;
        vertical-align: text-bottom;
        color: $primary;
        font-weight: bold;
      }
      &::before {
        content: "＼";
        margin-right: 0.5em;
      }
      &::after {
        content: "／";
        margin-left: 0.5em;
      }
    }

    &__list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      .btn {
        width: 31%;
        padding: 1rem;
        color: $white;
        text-align: center;
        @include media-breakpoint-down(md) {
          width: 100%;
          margin-bottom: 1rem;
        }
        svg {
          position: static;
          transform: none;
          @include media-breakpoint-down(md) {
            display: inline;
            font-size: 1.125rem !important;
            margin-right: 1em;
          }
        }
        span {
          display: block;
          font-size: 1.8rem;
          font-weight: bold;
          @include media-breakpoint-down(md) {
            display: inline;
            font-size: 1.125rem;
          }
        }
        &.tel {
          background-color: #ff7800;
        }
        &.form {
          background-color: $primary;
        }
        &.line {
          background-color: #00b900;
        }
      }
    }
  }
}
