.drawer {
  &-hamburger {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    background-color: $black;
    width: 2.25rem;
    padding: 23px 1rem 41px;
    @include media-breakpoint-down(md) {
      padding: 18px 0.75rem 36px;
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;
      background-color: $black;
    }

    &-icon {
      margin-top: 5px;
    }

    &__txt {
      position: absolute;
      width: 100%;
      bottom: 0.5rem;
      left: 0;
      display: block;
      text-align: center;
      font-weight: bold;
      color: $white;
      font-size: 12px;
      line-height: 1;
      letter-spacing: normal;
    }
  }

  &-menu {
    margin-top: calc(60px + 0.5rem);
    padding-left: 1.5em;
    .page_item {
      margin-bottom: 1em;
      &:last-child {
        margin-bottom: 0;
      }
      & > a,
      & > span {
        position: relative;
        display: block;
        font-size: 0.875rem;
        color: $body-color;
        &::before {
          content: "";
          display: inline-block;
          margin-right: 1em;
          width: 0;
          height: 0;
          border-left: 0.4rem solid transparent;
          border-right: 0.4rem solid transparent;
          border-bottom: 0.7rem solid $primary;
          transform: rotate(90deg);
        }
      }
      & > ul {
        list-style: none;
        padding-left: 1em;
        margin: 0.5rem 0;
        & > li {
          list-style: none;
          & > a {
            position: relative;
            display: block;
            font-size: 0.75rem;
            padding: 0.25rem 0;
            color: $body-color;
            &::before {
              content: "●";
              color: $primary;
              display: inline-block;
              margin-right: 1em;
            }
          }
        }
      }
    }

    & + .contact {
      margin-top: 1.5rem;
      @include media-breakpoint-down(md) {
        padding: 0 1rem;
        margin: 1.5rem auto 0;
      }
      .btn {
        display: block;
        padding-right: 1rem;
        padding-left: 1rem;
      }
    }
  }
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
  background-color: $white;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 0;
}
