.faq {
  &__box {
    position: relative;
    cursor: pointer;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba($black, 0.3);
    padding: 1.125rem;
    margin-bottom: 1.125rem;
    transition: all 0.3s;
    @include media-breakpoint-down(md) {
      padding: 0.875rem;
      margin-bottom: 0.875rem;
    }
    h3 {
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
      position: relative;
      font-size: 1.125rem;
      font-weight: bold;
      margin: 0;
      padding-right: calc(1.125rem * 2 + 1rem);
      span {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
      }
      @include media-breakpoint-down(md) {
        font-size: 0.875rem;
        padding-right: calc(0.875rem * 2 + 0.875rem);
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 1.125rem;
        width: 1rem;
        height: 2px;
        background-color: $primary;
        transition: all 0.3s;
        @include media-breakpoint-down(md) {
          width: 0.875rem;
          right: 0.875rem;
        }
      }
      &::after {
        transform: rotate(90deg);
      }
      & + div {
        display: none;
        line-height: 1.9;
        font-size: 0.875rem;
        margin-top: 1.125rem;
        div {
          display: flex;
          justify-content: flex-start;
          flex-wrap: nowrap;
        }
        @include media-breakpoint-down(md) {
          margin-top: 0.875rem;
        }
      }
    }
    &.active {
      box-shadow: none;
      h3 {
        &::after {
          transform: rotate(0);
        }
      }
    }
  }
}
