.footer {
  position: relative;
  background-color: $light;
  &__logo {
    text-align: center;
    line-height: normal;
    margin: 0;
    a {
      font-size: 2rem;
      font-weight: bold;
      color: $primary;
    }
  }

  .totop {
    position: absolute;
    bottom: 2rem;
    right: 2.5vw;
    display: block;
    background: $black;
    line-height: 1;
    padding: 0.75em;
    box-shadow: 3px 3px 8px rgba($black, 0.3);
    font-size: 1.25rem;
  }
}

.copyright {
  display: block;
  background-color: $primary;
  color: $white;
  text-align: center;
  line-height: 1;
  padding: 1rem;
  font-size: 12px;
}

.sp-foot-menu {
  z-index: 2;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba($white, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0.5rem;
  .tel {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid $primary;
    border-radius: 5px;
    white-space: nowrap;
    width: 72%;
    span {
      &:first-child {
        display: block;
        text-align: center;
        border-radius: 5px;
        font-weight: bold;
        font-size: 12px;
        padding: 0.5em 1em;
      }
      &:last-child {
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: 0.5rem;
      }
    }
  }
  .line {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: $success;
    color: $white;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    padding: 0.25em 1em;
  }
}
