.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 1rem;
  background-color: $white;
  border-bottom: 1px solid $light;
  @include media-breakpoint-down(md) {
    padding: 0 0 0 0.5rem;
  }

  .logo {
    font-size: 2rem;
    font-weight: bold;
    margin: 0%;
    @include media-breakpoint-down(md) {
      font-size: 1.25rem;
    }
    span {
      img {
        width: auto;
        max-height: 40px;
        @include media-breakpoint-down(md) {
          max-width: 140px;
        }
      }
    }
  }

  .tel {
    font-size: 2rem;
    font-weight: bold;
    margin-left: auto;
    span {
      color: $black;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .contact {
    margin: 0 1rem;
    @include media-breakpoint-down(md) {
      margin: 0 1rem 0 auto;
    }
    .btn {
      padding-right: 4rem;
      padding-left: 4rem;
      @include media-breakpoint-down(md) {
        padding-right: 0.5rem;
        padding-left: 1.5rem;
        font-size: 0.875rem;
      }
      svg {
        @include media-breakpoint-down(md) {
          left: 0.5rem;
        }
      }
    }
  }
}
