.review {
  &-top {
    &__count {
      display: block;
      text-align: center;
      font-weight: bold;
      font-size: 2.8rem;
      line-height: 1;
    }
    &__stars {
      color: $yellow;
      font-size: 1rem;
    }
    &__link {
      margin: 0;
      a {
        color: $body-color;
        text-decoration: underline;
      }
    }
  }

  &-home {
    overflow-y: scroll;
    max-height: 65vw;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    @include media-breakpoint-down(md) {
      max-height: 70vh;
    }
    &__box {
      position: relative;
      display: block;
      width: 48.5%;
      margin-right: 3%;
      margin-bottom: 3%;
      background-color: $white;
      padding: 1.5rem;
      border-radius: 5px;
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1.5rem;
        padding: 1.5rem 1rem;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
      &--header {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 1.5rem;
        .icon {
          overflow: hidden;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 1px solid $primary;
          margin-right: 1rem;
          img {
            width: 100%;
          }
        }
        .info {
          .name,
          .time {
            display: block;
            font-weight: bold;
            font-size: 0.875rem;
          }
          .time {
            font-weight: normal;
          }
          .star {
            display: flex;
            margin-top: 1rem;
            line-height: 1;
            .num {
              font-weight: bold;
              margin-left: 0.5rem;
            }
          }
        }
      }
      &--body {
        p {
          line-height: 1.9;
        }
      }
    }
  }
}
