.home-slide {
  position: relative;
  overflow: hidden;
  margin: 2rem 0;
  @include media-breakpoint-down(md) {
    margin-top: 0;
  }
  &__wrap {
    position: relative;
  }

  &__inner {
    padding: 0 1rem;
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  .prev-arrow,
  .next-arrow {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    background-color: $primary;
    color: $white;
    line-height: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 3px 3px 8px rgba($black, 0.5);
    @include media-breakpoint-down(md) {
      width: 2rem;
      height: 2rem;
      font-size: 1rem;
    }
  }

  .prev-arrow {
    left: 10vw;
    @include media-breakpoint-down(md) {
      left: 5vw;
    }
    svg {
      margin-left: -0.25em;
    }
  }
  .next-arrow {
    right: 10vw;
    @include media-breakpoint-down(md) {
      right: 5vw;
    }
    svg {
      margin-right: -0.25em;
    }
  }

  &__sns-link {
    z-index: 1;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 1rem;
    text-align: left;
    a {
      display: inline-block;
      vertical-align: middle;
      font-size: 0;
      &:nth-child(2) {
        margin: 0 5px;
      }
      img {
        width: 27.5px;
      }
    }
  }

  &__counts {
    z-index: 1;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 1rem;
    text-align: right;
  }

  &__nums {
    display: inline-block;
    vertical-align: baseline;
    background-color: $white;
    line-height: 1.1;
    border-radius: 5px;
    padding: 0.25rem 0.75rem;
    @include media-breakpoint-down(md) {
      font-size: 10px;
      padding: 0.25rem 0.5rem;
    }
    .current,
    .all {
      font-weight: bold;
    }
  }
}
